$font-header: "Cormorant Garamond";
$font-main: "Proza Libre";

$color-main: #732C2C;
$color-main-dark: #420C14;
$color-main-light: #F3F3F4;
$color-accent: #334E58;
$color-accent-light: #C98686;

$font-color-dark: black;
$font-color-light: white;